@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: white;
    background: #231610;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-size: 14px;
    list-style: none;
    margin: 8px 2.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo{
    height: 40px;
}

.center_logo{
    margin-right: 11.4%;
}

nav ul li:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.nav_extand{
    background-color: #50312594;
    margin: 0 2.5%;
}

.model_img{
    padding:30px 177px 0px 151px;
    height: 92.5vh;
}

.right {
    width: 50%;
}

.right li{
    list-style: none;
}

.small{
    font-size: medium;
}

.smalle{
    font-size: small;
}

.big{
    font-size: xxx-large;
    font-weight: bold;
}

.bige{
    font-weight: bolder;
    font-size: large;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.Shop_Collection_btn{
    padding: 13px 25px;
    background: #231610;
    color: #998780;
    border: 0px solid;
    cursor: pointer;
    font-weight: bold;
}

.Shop_Collection_btn:hover{
    color: #80716c;
}

.endf{
    background-color: #231610;
    color: white;
    font-size: smaller;
    padding: 25px 0px;
}
.startf{ 
    background-color: #998780;
    width: 95%;
    padding: 100px 0px 50px 0px;
}

.fnav{
    width: 30vw;
    list-style: none;
    font-size: small;
}

.hover:hover{
    opacity: 1;
}

.svgsm{
    width: 31px;
    padding: 8px;
    margin: 0px 9px;
    background-color: white;
    border: 0px solid white;
    border-radius: 2px;
}

.svgsm:hover{
    background-color: #998780;
}

.blazer_img{
    height: 48vh;
}

.blazer{
    margin: 25px 9px;
}

.prize_font{
    font-weight: bolder;
    font-size: smaller;
    opacity: 0.7;
}

.svg{
    width: 15px;
    margin-right: 7px;
}
.text{
    margin: 50px 0px;
}
.Ftext{
    border-bottom: 2px solid black;
    margin-bottom: 40px; 
    height: 65px;
}
.textaline{
    width: 60%; 
    text-align: center;
 }

 .section{
    width: 74vw;
 }
 .container{
    height: 85vh;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed ;
    background-image: url("Men_Blazer.jpg");
    width: 95%;
    color: white;
}
.dullbc{
    backdrop-filter: brightness(0.6);
    height: 100%;
    width: 100%;
    padding: 170px 140px;
}
.bcnew{
    background-image : linear-gradient(90deg,#998780 55%,white 55%);
}
.menwomen{
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 30px;
    position: relative;
    margin: -23px 20px;
    padding: 5px 0px;
}
.btwo:hover .menwomen{
    background-color: white;
    transition: 0.3s;
}
.btwo{
    width: 49.25%;
    margin: 0px 0px 9px 0px;
}