@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: white;
    background: #231610;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    font-size: 14px;
    list-style: none;
    margin: 8px 2.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo{
    height: 40px;
}

.center_logo{
    margin-right: 11.4%;
}

nav ul li:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.nav_extand{
    background-color: #50312594;
    margin: 0 2.5%;
}

.model_img{
    padding:30px 177px 0px 151px;
    height: 92.5vh;
}

.right {
    width: 50%;
}

.right li{
    list-style: none;
}

.small{
    font-size: medium;
}

.smalle{
    font-size: small;
}

.big{
    font-size: xxx-large;
    font-weight: bold;
}

.bige{
    font-weight: bolder;
    font-size: large;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.Shop_Collection_btn{
    padding: 13px 25px;
    background: #231610;
    color: #998780;
    border: 0px solid;
    cursor: pointer;
}

.Shop_Collection_btn:hover{
    font-weight: bolder;
}

.endf{
    background-color: #231610;
    color: white;
    font-size: smaller;
    padding: 25px 0px;
}

.startf{
    background-color: #998780;
    width: 95%;
}

.blazer_img{
    height: 53vh;
}

.blazer{
margin: 25px 10px;
}

.section1{
    width: 80vw;
}

.prize_font{
    font-weight: bolder;
    font-size: smaller;
    opacity: 0.7;
}

.svg{
    width: 15px;
    margin-right: 7px;
}
