.flex{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.f-c{
    flex-direction: column;
}
.f1{
    font-family: 'Roboto Condensed', sans-serif;
}
.m-{
    margin-bottom: -20px;
}
.f2{
    font-family: 'Poppins', sans-serif;
}
.f3{
    font-family: 'Poppins', sans-serif;
}
.m-2{
    margin: 4px 0;
}
.ml15{
    margin-left: 15px;
}
.mtb50{
    margin: 50px 0px;
}
a{
    text-decoration: none;
    color: black;
}
.first{
    width: 25%;
}
.second{
    width: 15%;
}
.o5{
    opacity: 0.5;
}
.o7{
    opacity: 0.7;
}
.xx{
    font-size: xx-large;
}
.f36{
    font-size: 36px;
}
.f22{
    font-size: 22px;
}
.f14{
    font-size: 14px;
}
.fb{
    font-weight: bold;
}
.aimg{
    background-position: center;
    background-size: 100%;
}
.tac{
    text-align: center;
}