.flex{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.f-c{
    flex-direction: column;
}
.f1{
    font-family: 'Roboto Condensed', sans-serif;
}
.f2{
    font-family: 'Roboto', sans-serif;
}
.m-2{
    margin: 4px 0;
}
.link{
    text-decoration: none;
    color: black;
}
.first{
    width: 25%;
}
.second{
    width: 15%;
}