.box{
    width: 94%;
    padding: 20px 0px;
    background-color: #998780;
    justify-content: center;
    display: flex;
    margin: 50px 0px;
}
.inner_box{
    width: 460px;
}
.time{
    color: #231610;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: bolder;
    margin-bottom: 10px;
}
.m-18-0{
    margin: 18px 0;
}
.normal{
    font-size: smaller;
    font-weight: bolder;
}
.normals{
    font-size: smaller;
}
.abnormal{
    font-size: x-large;
    font-weight: bolder;
}
.Verify_btn{
    width: 100%;
    background: #231610;
    color: #998780;
    border: 0px solid;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}
.Verify_btn:hover{
    color: #80716c;
}

input{
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 1px;
}
.linkl{
    text-decoration: none;
    font-weight: bolder;
    color: #552d89;
}
.linkl:hover{
    border-bottom: 1px solid #552d89;
}
.showPassword{
    margin-top: -20px;
    font-size: 13px;
    font-weight: bolder;
}
@media (max-width : 550px){
    .normal{
        margin: 5px;
    }
    .normal div input,.special{
        width: 90vw !important;
    }
    .showPassword{
        margin-top: -6px;
    }
    .inner_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inner_box hr{
        width: 90vw;
    }
}