.lefta{
    width: 50%;
    padding: 0px 130px 0px 0px;
    color: white;
}
.text_img{
    display: flex;
    justify-content: center;
}
.righta{
    width: 50%;
    color: white;
}
.bigm{
    font-size: 22px;
    line-height: 26px;
}
.sul{
    border: 1.5px solid white;
    width: 56px;
    margin-top: 25px;
} 
.lefta2{
    width: 562px;
    background-color: #50312594;
    padding: 0px 65px;
}
.blazer_on{
    width: 562px;
    background-color: aqua;
    background-position:center ;
    background-size: auto;
    background-repeat: no-repeat;
}
.mtb{
    margin: 10px 0px;
}
@media (max-width : 1195px){
    .lefta2{
        width: 47%;
    }
    .blazer_on{
        width: 47%;
    }
}

@media (max-width : 932px){
    .text_img{
        flex-direction: column;
        align-items: center;
    }
    .lefta2{
        width:94%;
    }
    .blazer_on{
        width: 94%;
    }
}