<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P Shopping Point About</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <link rel="stylesheet" href="Style/about.css">
</head>
<body>
    <header> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <b><li class="li"><a href="about">ABOUT</a></li></b>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <img style="width: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                </b></li>
                <li class="li"><b>$0.00</b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li><hr>
                    <li><a href="women">WOMEN</a></li><hr>
                    <li><a href="men">MEN</a></li><hr>
                    <b><li><a href="about">ABOUT</a></li><hr></b>
                    <li><a href="contact">CONTACT</a></li><hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <img style="width: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    </b></li><hr>
                    <li class="li"><b>$0.00</b></li><hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <hr class="o5">
    <main>
        <div class="flex jcc">
            <div class="textaline flex aic jcc f-c text">
                <span class="big f3 Ftext">
                    About
                </span>
                <span class="small f2">
                    <b>Want to get in touch? We'd like to hear from you. Hear's how you can reach us...</b>
                </span>
                <span class="f3" style="font-size: smaller; margin: 10px 0px 0px 0px;">
                    P Shopping Point is a diversified group with majority business interests in Textile & Apparel sectors and a presence across varying segments such as Consumer Care, Realty and Engineering in national and international markets.
                </span>
            </div>
        </div>
        <div class="flex jcc">
            <div class="acontainer">
                <div class="flex adullbc">
                    <div class="lefta flex f-c">
                        <span class="smalle f2" style="margin-bottom: 15px;">THE MISSION</span>
                        <span class="fb f2" style="font-size: 35px; line-height: 40px;">At the heart of everything, we set out to offer the best quality.</span>
                        <div class="sul"></div>
                    </div>
                    <div class="righta flex f-c f2 bigm">
                        <span style="margin-bottom: 20px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex jcc">
            <div class="textaline flex aic jcc f-c text">
                <span class="big f3 Ftext">
                    How it started?
                </span>
                <span class="f3" style="font-size: smaller;">
                    Want to get in touch? We'd like to hear from you. Hear's how you can reach us...
                </span>
            </div>
        </div>
        <div style="margin: 0px 0px 100px 0px;">
            <div class="v758 fb f2 xx top_bot" style="line-height: 37px;">
                Vel mauris molestie dignissim
            </div>
            <div class="text_img">
                <div class="lefta2 flex jcc f-c">
                    <div class="xx fb f2 mtb iv758" style="line-height: 37px;">
                        Vel mauris molestie dignissim
                    </div>
                    <div class="bige f2 mtb">
                        Proin eu ante vel mauris molestie dignissim non eget nunc. Integer ac massa orci. Suspendisse vulputate semper nunc eget rhoncus.
                    </div>
                    <div class="smalle f2 mtb iv932">
                        Praesent vel faucibus ligula. Sed sit amet ipsum eget velit aliquet faucibus. Maecenas et odio id turpis sollicitudin pulvinar sit amet vitae augue. Phasellus nec ultricies arcu. Quisque efficitur tellus sit amet bibendum molestie. Duis id egestas odio. Phasellus lacinia ex quis faucibus tempor. Sed feugia.
                    </div>
                </div>
                <img class="blazer_on" src="Photo/blazer_on.jpeg" alt="">
            </div>
            <div class="v932 small f2 top_bot">
                Praesent vel faucibus ligula. Sed sit amet ipsum eget velit aliquet faucibus. Maecenas et odio id turpis sollicitudin pulvinar sit amet vitae augue. Phasellus nec ultricies arcu. Quisque efficitur tellus sit amet bibendum molestie. Duis id egestas odio. Phasellus lacinia ex quis faucibus tempor. Sed feugia.
            </div>
        </div>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY T-SHIRT</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li><b><a class="hover o7" href="about">ABOUT</li></b></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/script.js"></script>
</html>