<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <link rel="stylesheet" href="Style/loginstyle.css">
</head>
<body>
    <header>
        <nav class="flex aic jcc">
            <ul class="navbar_login"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
        </nav> 
    </header>
    <hr class="o5">
    <main class="flex aic jcc f-c f2">
        <form class="box" action="/changePassword" method="post">
            <div class="inner_box">
                <div class="time top"><%= locals.Sign_up %></div>
                <div class="abnormal m-18-0">
                    Recover Password
                </div>
                <div class="m-18-0 normals special">
                    Password must contain at least 8 characters
                </div>
                <div class="m-18-0 normal">
                    <div class="flex aic jcb m-2">
                        <div>
                            Password <br>
                        </div>
                    </div>
                    <div>
                        <input style="width: 460px; padding: 7px;" minlength="8" type="password" class="password" placeholder="Password" name="pass1"> <br>
                    </div>
                </div>
                <div class="m-18-0 normal">
                    <div class="flex aic jcb m-2">
                        <div>
                            Confirm Password <br>
                        </div>
                    </div>
                    <div>
                        <input style="width: 460px; padding: 7px;" onchange="conpairPass()" class="pass" type="password" name="pass2"> <br>
                    </div>
                </div>
                <div class="flex showPassword">
                    <div class="m-2">
                        <input type="checkbox" onclick="showPass()">
                    </div>
                    <script>
                        const showPass = () => {
                            const pass = document.querySelector(".pass");
                            if(pass.type == "password") pass.type = "text";
                            else pass.type = "password";
                        }
                    </script>
                    <div>
                        Show Password    
                    </div>
                </div>
                <div class="special" style="margin: 18px 0px 10px 0px;">
                    <button class="Verify_btn" name="<%= locals.email %>" type="submit">Change Password</button>
                </div>
                <% if(locals.message){ %>
                    <div class="time bottom"><%= locals.message %></div>
                <% } %>
            </div>
        </form>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
</html>