<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P Shopping Point Product</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <link rel="stylesheet" href="Style/product.css">
</head>
<body>
    <header> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <img style="width: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                </b></li>
                <li class="li"><b>$0.00</b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li> <hr>
                    <li><a href="women">WOMEN</a></li> <hr>
                    <li><a href="men">MEN</a></li> <hr>
                    <li><a href="about">ABOUT</a></li> <hr>
                    <li><a href="contact">CONTACT</a></li> <hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <img style="width: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    </b></li><hr>
                    <li class="li"><b>$0.00</b></li><hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <hr class="o5">
    <main class="mtb50">
        <div class=" flex aic f-c">
            <div class="flex mb50 change jcc w">
                <div class="befor" style="width: 100%;">
                    <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/4f.jpg" alt="IMG">
                    <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/4b.jpg" alt="IMG">
                </div>
                <div class="le">
                    <div class="smalle f2 m12"><a href="men">---</a></div>
                    <div class="xx fb f2 m12">---</div>
                    <div>
                        <span class="bige f2">---</span>
                        <span  class="fs13_5 f2 o7"> & Free Shipping</span>
                    </div>
                    <div  class="fs13_5 f2 m12 o7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus interdum eros. In blandit velit a lacus laoreet dictum. Maecenas vel vulputate nulla. Ut nec enim vel tortor aliquet varius.</div>
                    <hr class="o5 m12">
                    <div class="m12 o7">
                        <button class="btnp fs13_5 f2" onclick="subtraction()">-</button>
                        <span class="total_item fs13_5 f2" id="total_item">1</span>
                        <button class="btnp fs13_5 f2" onclick="addition()">+</button>
                        <button class="btnp fs13_5 f3 ex_add_to_cart" onclick="cart_update()">Add to cart</button>
                    </div>
                    <hr class="o5 m12">
                    <div  class="fs13_5 f2 m12">
                        <span class="o7">SKU: N/A </span>
                        <span class="o7 pml15">Category: </span><span><a href="men">Men</a></span>
                    </div>
                    <hr class="o5 m12">
                    <div class="f2 fb m12">Description</div>
                    <hr class="o5 m12">
                    <div  class="fs13_5 f2 m12">ABOUT THE PRODUCT</div>
                    <div  class="fs13_5 f2 m12 o7">Our T-Shirts are lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
                    <div  class="fs13_5 f2 o7 pml15">100% Cotton</div>
                    <div  class="fs13_5 f2 o7 pml15">260gsm</div>
                    <div  class="fs13_5 f2 m12 o7 pml15">Breathable Fabric</div>
                    <hr class="o5 m12">
                    <div  class="fs13_5 f2 m12">SIZE & FIT</div>
                    <div  class="fs13_5 f2 o7 pml15">Model is wearing size M and is 6'1"</div>
                    <div  class="fs13_5 f2 m12 o7 pml15">Standard fit for a relaxed, easy feel</div>
                    <hr class="o5 m12">
                    <div  class="fs13_5 f2 m12">FREE DELIVERY & RETURNS</div>
                    <div  class="fs13_5 f2 m12 o7">Free standard delivery on orders over $60</div>
                    <div  class="fs13_5 f2 o7 pml15">You can return your order for any reason, free of charge, within 30 days</div>
                    <div  class="fs13_5 f2 o7 pml15">We also offer a Free-of-Charge shipping label</div>
                </div>
            </div>
        </div>
        <div class="flex f-c aic jcc">
            <div class="xx fb f2 m12">Related products</div>
            <div class="flex jcc w f-c">
                <div class="flex mb50 jcb related" style="width: 100%;" >
                    <div class="w24">
                        <div class="befor-hover" onclick="product_show(0)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/1f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/1b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(0)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="w24">
                        <div class="befor-hover" onclick="product_show(1)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/2f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/2b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(1)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="w24 iv767">
                        <div class="befor-hover" onclick="product_show(2)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/3f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(2)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="w24 iv767">
                        <div class="befor-hover" onclick="product_show(3)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/4f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/4b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(3)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
                <div class="mb50 jcb relaed v767" style="width: 100%;" >
                    <div class="w24">
                        <div class="befor-hover" onclick="product_show(2)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/3f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(2)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="w24">
                        <div class="befor-hover" onclick="product_show(3)">
                            <a href="product">
                                <img class="aimg" style="margin: 0px 0px -4px 0px;" src="Photo/4f.jpg" alt="IMG">
                                <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/4b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml30">
                            <div class="smalle f2 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(3)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/product.js"></script>
</html>